h1{
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(165, 165, 165);
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: rgb(110, 97, 122);
    color: white;
    box-shadow: 0px 5px 5px grey;
}

.cabeçalho{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all ease 0.5s;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 2px rgb(148, 145, 145);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(162, 142, 142);
}

a:hover{
    color: white;
    background-color: darkgray;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

body{
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}

fieldset{
    border-radius: 10px;
    border: solid 5px  rgb(110, 97, 122);
    background-color: rgb(226, 218, 226);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
    box-shadow: 10px 10px 5px grey;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-shadow: 5px 5px 5px grey;
    font-size: larger
    ;
}

fieldset:hover{
    box-shadow: 15px 15px 10px grey;
    transform: scale(1.02);
    transition: all ease 0.5s;
}

img{
    border-radius: 100%;
    width: 200px;
    transition: all ease 0.7s;
}

img:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 20px grey;
}

legend{
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 10px 10px 5px grey;
}

footer{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(110, 97, 122);
    color: white;
    box-shadow: 0px -5px 5px grey;
    text-shadow: 1px 5px 5px rgb(0, 0, 0);
}

.rodapé2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(110, 97, 122);
    color: white;
    box-shadow: 0px -5px 5px grey;
    text-shadow: 1px 5px 5px rgb(0, 0, 0);
}